body {
    background-color: #f49c1999;
}

img {
    max-width: 100%;
    margin: 20px;
    border-radius: 6px;
    border: 1px solid grey;
    box-shadow: 12px 12px 2px 1px rgb(129, 141, 194);}

h1 {
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 2px 2px rgb(129, 141, 194);
}

div {
    text-align: center;
}

p {
    text-align: center;
}